---

---

<section class="py-10 px-6 lg:px-14 relative bg-ic-primary">
   <div class="lg:max-w-5xl xl:max-w-7xl mx-auto w-full relative">
      <div class="lg:flex items-center justify-center">
         <div class="max-w-2xl md:mx-auto text-center">
            <h2
               class="text-[#ededed] text-balance text-3xl md:text-4xl lg:text-5xl font-bold mb-5">
               Aseguramos el retorno de tu capital en <span
                  class="text-freshmarket-primary">3 años</span
               >
            </h2>
            <p class="text-[#c3c3c3]">
               Goza del respaldo, asesoría y seguridad jurídica que ofrece el
               Grupo Inmobiliario Impulso Capital, gracias a nuestra amplia
               trayectoria en el sector inmobiliario nacional e internacional.
            </p>
            <p class="text-[#c3c3c3]">
               Capitalizamos un futuro sólido en nuestros inversionistas,
               clientes y propietarios; por intermedio de los Bienes Raíces
            </p>
            <div class="mt-6">
               <a
                  href="https://wa.link/5rvcsb"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="py-3 px-5 bg-gradient-to-br from-freshmarket-primary to-[#3da837c0] hover:scale-105 focus:ring-green-950 focus:ring-offset-indigo-200 text-azul transition ease-in text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-full inline-flex items-center justify-center text-gray-50 gap-x-2">
                  <svg
                     xmlns="http://www.w3.org/2000/svg"
                     width="24"
                     height="24"
                     viewBox="0 0 24 24"
                     fill="none"
                     stroke="currentColor"
                     stroke-width="2"
                     stroke-linecap="round"
                     stroke-linejoin="round"
                     class="icon icon-tabler icons-tabler-outline icon-tabler-headset"
                     ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                     ></path><path d="M4 14v-3a8 8 0 1 1 16 0v3"></path><path
                        d="M18 19c0 1.657 -2.686 3 -6 3"></path><path
                        d="M4 14a2 2 0 0 1 2 -2h1a2 2 0 0 1 2 2v3a2 2 0 0 1 -2 2h-1a2 2 0 0 1 -2 -2v-3z"
                     ></path><path
                        d="M15 14a2 2 0 0 1 2 -2h1a2 2 0 0 1 2 2v3a2 2 0 0 1 -2 2h-1a2 2 0 0 1 -2 -2v-3z"
                     ></path></svg
                  >
                  Asesoría personalizada
               </a>
            </div>
         </div>
      </div>
   </div>
</section>
