---
// import { Image } from "astro:assets";
import fachadaFreshMarket from "../images/fachada-fresh.jpg";
import collageNegocios from "../images/collage-negocios.jpg";
import tomaAerea from "../images/toma-aerea.jpg";
---

<section class="py-12 lg:py-24 relative">
   <div class="px-6 lg:px-14">
      <div class="lg:max-w-5xl relative mx-auto">
         <div class="block basis-0 flex-shrink flex-grow p-2 text-center">
            <h2
               class="text-balance mx-auto text-[#ededed] text-3xl md:text-4xl lg:text-5xl font-bold mb-8 after:w-10 after:h-1 after:mx-auto after:mt-4 after:bg-freshmarket-primary after:block after:rounded">
               ¡Bienvenido a tu próxima oportunidad de inversión en la región
               Lambayeque!
            </h2>
         </div>
      </div>
   </div>

   <section
      class="splide"
      id="splide-gallery"
      aria-label="Splide Basic HTML Example">
      <div class="splide__track">
         <ul class="splide__list text-center">
            <li class="splide__slide relative py-1">
               <figure class="relative">
                  <img
                     class="w-full rounded-md shadow-xl ring-4 ring-ic-primary ring-opacity-90 xl:h-full mx-auto"
                     src={fachadaFreshMarket.src}
                     alt="Impulso Capital"
                  />
               </figure>
               <!-- <Image
                  class:list={"w-full rounded-md shadow-xl ring-4 ring-ic-primary ring-opacity-90 xl:h-full mx-auto"}
                  src={fachadaFreshMarket}
                  alt="Fachada de Fresh Market."
               /> -->
            </li>
            <li class="splide__slide relative py-1">
               <figure class="relative">
                  <img
                     class="w-full rounded-md shadow-xl ring-4 ring-ic-primary ring-opacity-90 xl:h-full mx-auto"
                     src={tomaAerea.src}
                     alt="Impulso Capital"
                  />
               </figure>
            </li>
            <li class="splide__slide relative py-1">
               <figure class="relative">
                  <img
                     class="w-full rounded-md shadow-xl ring-4 ring-ic-primary ring-opacity-90 xl:h-full mx-auto"
                     src={collageNegocios.src}
                     alt="Impulso Capital"
                  />
               </figure>
            </li>
         </ul>
      </div>
   </section>

   <div class="px-6 lg:px-14">
      <div class="lg:max-w-5xl xl:max-w-7xl relative mx-auto">
         <div class="block basis-0 flex-shrink flex-grow p-2 text-center">
            <div class="mt-4 max-w-2xl mx-auto md:text-lg">
               <a
                  href="https://wa.link/5rvcsb"
                  class="py-[.7rem] px-6 bg-gradient-to-br from-freshmarket-primary to-[#3da837c0] hover:scale-105 focus:ring-green-950 focus:ring-offset-indigo-200 transition ease-in text-center font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-full inline-flex items-center justify-center text-gray-50 gap-x-2 hover:opacity-90">
                  ¡Quiero más información!
               </a>
            </div>
         </div>
      </div>
   </div>
</section>

<style>
   .splide__slide {
      /* height: 500px; */
      /* background-color: #f1f1f1; */
   }
</style>

<script>
   import Splide from "@splidejs/splide";
   import "@splidejs/splide/css";

   document.addEventListener("DOMContentLoaded", function () {
      let splide = new Splide("#splide-gallery", {
         type: "slide",
         perPage: 3,
         rewind: true,
         rewindSpeed: 800,
         // padding: "2rem",
         focus: "center",
         gap: 30,
         // gap: 65,
         pagination: false,
         autoplay: true,
         // autoplayInterval: 6e3,
         speed: 500,
         breakpoints: {
            640: {
               perPage: 1,
               padding: "2%",
               gap: 25,
            },
            820: {
               perPage: 2,
               focus: "center",

               // padding: "15%",
            },
            // 1023: {
            //    perPage: 1
            // }
         },
      }).mount();
   });
</script>

<!-- <script src="../libs/slider.js"></script> -->
