---
// import Form from "./Form.astro";
// import freshMarket from "../images/fresh-market-color.png";
import videoFreshMarket from "../images/video-fresh-market.mp4";
---

<section class="pt-[7.5rem] container flex-1 px-6">
   <div
      class="flex flex-col items-center justify-center py-12 md:py-14 lg:py-20">
      <!-- <div
         class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
         aria-hidden="true">
         <div
            class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#633c20] to-[#8b571d] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
            style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
         </div>
      </div> -->
      <div
         class="absolute inset-0 m-auto max-w-xs h-[357px] blur-[118px] sm:max-w-md md:max-w-lg -z-10"
         style="
          background: linear-gradient(
            106.89deg,
            rgba(192, 132, 252, 0.11) 15.73%,
            rgba(14, 165, 233, 0.41) 15.74%,
            rgba(193,147,39,0.35) 56.49%,
            rgba(79, 70, 229, 0.4) 115.91%
          );
        ">
      </div>
      <div class="flex flex-col items-center gap-6">
         <!-- <figure>
            <img src={freshMarket.src} class="max-w-24" />
         </figure> -->
         <h1
            class="max-w-[20ch] text-balance bg-gradient-to-b from-[#ededed] to-[#c3c3c3] bg-clip-text text-center text-5xl font-bold leading-none text-transparent md:text-5xl lg:text-6xl 3xl:text-7xl">
            Asegura una <span class="text-freshmarket-primary"
               >rentabilidad superior</span
            >
            al 22% anual
         </h1>
         <p class="max-w-[50ch] text-pretty text-center text-[#c3c3c3]">
            Invierte en una moderna plaza comercial de alto tránsito, ubicada en
            la mayor zona de crecimiento inmobiliario, residencial y comercial
            del departamento de Lambayeque, situado en la carretera Chiclayo -
            Pimentel (costado del Colegio Peruano Chino).
         </p>

         <a
            class="inline-flex items-center justify-center gap-2 whitespace-nowrap text-sm font-medium ring-offset-[#121212] transition-all focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-gray-50 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-gradient-to-br from-freshmarket-primary to-[#3da837c0] text-white hover:opacity-90 px-3 py-1.5 lg:px-4 lg:py-2 lg:text-base rounded-full hover:scale-110"
            href="#"
            >Separa tu unidad <svg
               xmlns="http://www.w3.org/2000/svg"
               width="20"
               height="20"
               viewBox="0 0 24 24"
               fill="none"
               stroke="currentColor"
               stroke-width="2.5"
               stroke-linecap="round"
               stroke-linejoin="round"
               class="lucide lucide-chevron-right"
               ><path d="m9 18 6-6-6-6"></path></svg
            ></a
         >
      </div>
   </div>

   <div class="container max-w-6xl relative mt-6">
      <div
         class="z-[3] mt-4 mb-12 lg:mb-16 border border-solid border-white/15 rounded-2xl lg:w-full shadow-[1px_1px_20px_rgba(193,146,39,.32)] md:p-5 overflow-hidden">
         <video
            autoplay
            loop
            muted
            controls
            playsinline
            class="border border-gray-800">
            <source src={videoFreshMarket} type="video/mp4" />
         </video>
      </div>
   </div>
</section>

<!-- bg-[url('/src/images/')]  -->
<!-- <section
   class="pt-16 bg-homepage-hero-after relative before:inset-0 before:absolute before:bg-before-ramsa before:bg-[rgb(0,0,0,0.50)] bg-center bg-no-repeat bg-cover"
   id="inicio">
   <div class="lg:max-w-5xl xl:max-w-7xl relative mx-auto">
      <div
         class="py-6 px-3 flex flex-col md:items-center lg:flex-row lg:justify-between gap-5 lg:py-24 lg:px-6 relative">
         <div
            class="block basis-0 flex-shrink flex-grow p-2 lg:flex-none lg:w-1/2">
            <h1
               class="font-bold text-4xl lg:text-6xl [text-wrap:balance] tracking-tight mb-6 text-freshmarket-primary">
               Asegura una rentabilidad superior al 22% anual
            </h1>
            <div class="space-y-3 font-open text-gray-100">
               <p>
                  ¿Tienes un negocio o emprendimiento y deseas invertir para
                  GARANTIZAR excelentes rentabilidades anuales?
               </p>
               <p>
                  ¿Estás cansado de pagar alquileres o rentas cada mes? ¿Tienes
                  hipotecas impagables? ¿Te cuesta acceder a préstamos o
                  créditos?
               </p>
               <p>
                  Conoce más de la solución que tu marca, negocio o
                  emprendimiento necesita... ¡Y capitalízate de forma segura y
                  confiable!
               </p>
            </div>
         </div>

         <div
            class="block basis-0 flex-shrink flex-grow p-2 md:flex-none md:w-4/6 lg:w-1/2 xl:w-5/12">
            <div
               class="bg-slate-50 rounded-lg shadow-2xl sm:w-full sm:mx-auto sm:overflow-auto">
               <Form />
            </div>
         </div>
      </div>
   </div>
</section> -->
