---
import planoStandsH from "../images/plano-stands-horizontal.jpg";
import leyenda from "../images/leyenda.jpg";
import { Image } from "astro:assets";
// import Modal from "./Modal.astro";
---

<section class="py-12 px-6 lg:py-24 lg:px-14 relative" id="ubicacion">
   <div class="lg:max-w-5xl xl:max-w-7xl mx-auto w-full relative">
      <div class="block basis-0 flex-shrink flex-grow p-2 text-center">
         <h2
            class="text-[#ededed] text-balance text-3xl md:text-4xl lg:text-5xl font-bold mb-6 after:w-10 after:h-1 after:mx-auto after:mt-4 after:bg-freshmarket-primary after:block after:rounded">
            ¡Separa tu unidad comercial inmobiliaria!
         </h2>
         <figure class="relative py-3">
            <!-- <img
               class="w-full rounded-md shadow-xl ring-4 ring-ic-secondary ring-opacity-90 max-w-4xl xl:h-full mx-auto"
               src={planoStandsH.src}
               alt="Plano de distribucion de unidades comerciales"
            /> -->
            <Image
               class={"w-full rounded-md shadow-xl ring-4 ring-ic-secondary ring-opacity-90 max-w-4xl xl:h-full mx-auto"}
               src={planoStandsH}
               alt="Plano de distribucion de unidades comerciales"
            />
         </figure>
      </div>
      <div class="lg:flex items-center justify-between gap-4 max-w-4xl mx-auto">
         <div
            class="block basis-0 flex-shrink flex-grow py-5 mx-auto lg:mx-0 text-center lg:text-left mb-5 lg:mb-0">
            <p class="text-lg text-[#c3c3c3] text-center">
               <span class="text-freshmarket-primary">Fresh Market</span> cuenta
               con una amplia variedad de zonas y rubros para tu negocio: Productos
               de primera necesidad, fast food, gastronomía, área financiera, zonas
               tecnológicas, de moda, belleza, boutique, bisutería y salud.
            </p>
            <div class="mt-5 flex justify-center flex-wrap gap-3">
               <button
                  @click="modalIsOpen = true"
                  class="py-[.7rem] px-6 bg-gradient-to-br from-freshmarket-primary to-[#3da837c0] hover:scale-105 focus:ring-green-950 focus:ring-offset-indigo-200 transition ease-in text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-full inline-flex items-center justify-center text-gray-50 gap-x-2 hover:opacity-90">
                  <svg
                     xmlns="http://www.w3.org/2000/svg"
                     width="24"
                     height="24"
                     viewBox="0 0 24 24"
                     fill="none"
                     stroke="currentColor"
                     stroke-width="2"
                     stroke-linecap="round"
                     stroke-linejoin="round"
                     class="icon icon-tabler icons-tabler-outline icon-tabler-home-dollar"
                     ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                     ></path><path d="M19 10l-7 -7l-9 9h2v7a2 2 0 0 0 2 2h6"
                     ></path><path
                        d="M9 21v-6a2 2 0 0 1 2 -2h2c.387 0 .748 .11 1.054 .3"
                     ></path><path
                        d="M21 15h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5"
                     ></path><path d="M19 21v1m0 -8v1"></path></svg
                  >
                  ¡Separa tu unidad ahora!
               </button>
            </div>
         </div>
         <div class="block basis-0 flex-shrink flex-grow p-2 text-center">
            <p class="uppercase md:text-xl mb-3 font-bold text-[#ededed]">
               Áreas de distribucion
            </p>
            <figure class="relative">
               <Image
                  class="w-full rounded-md shadow-xl ring-2 ring-ic-secondary ring-opacity-90 max-w-80 xl:h-full mx-auto"
                  src={leyenda}
                  alt="Leyenda plano"
               />
            </figure>
         </div>
      </div>
   </div>
</section>
