---
import ubicacionMapa from "../images/ubicacion-mapa.jpg";
---

<section class="py-12 px-6 lg:py-24 lg:px-14 relative">
   <div class="lg:max-w-5xl xl:max-w-7xl mx-auto w-full relative">
      <div class="lg:flex items-center justify-between lg:gap-x-6">
         <div
            class="block basis-0 flex-shrink flex-grow p-2 md:flex-none mx-auto lg:mx-0 text-center lg:text-left mb-5 lg:mb-0">
            <figure class="relative">
               <img
                  class="w-full rounded-md shadow-xl ring-4 ring-ic-secondary ring-opacity-90 max-w-lg xl:h-full mx-auto"
                  src={ubicacionMapa.src}
                  alt="Impulso Capital"
               />
            </figure>
         </div>
         <div
            class="block basis-0 flex-shrink flex-grow p-2 md:flex-none md:w-4/5 mx-auto lg:mx-0 text-center lg:w-5/12 lg:text-left xl:w-1/2">
            <h2
               class="text-[#ededed] text-balance text-3xl md:text-4xl lg:text-5xl font-bold mb-6 after:w-10 after:h-1 after:mx-auto lg:after:ml-0 after:mt-4 after:bg-freshmarket-primary after:block after:rounded">
               Inmejorable y estratégica <span class="uppercase">ubicación</span
               >
            </h2>
            <p class="text-lg text-[#c3c3c3] mb-3">
               Ubicado en la mayor zona de crecimiento inmobiliario, residencial
               y comercial del departamento de Lambayeque, situado en la
               carretera Chiclayo - Pimentel (costado del Colegio Peruano Chino)
            </p>
            <p class="text-lg text-[#c3c3c3] mb-3">
               ¿Te imaginas abastecer a las nuevas urbanizaciones y
               residenciales de la zona? Son más de 15 mil familias quienes se
               convertirán en potenciales clientes y consumidores de tu negocio
               o emprendimiento.
            </p>

            <div
               class="mt-6 flex justify-center lg:justify-normal flex-wrap gap-3"
               data-astro-source-file="C:/laragon/www/landing-fresh-market/src/components/Cta.astro"
               data-astro-source-loc="17:31">
               <a
                  href="https://wa.link/5rvcsb"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="py-[.7rem] px-6 bg-gradient-to-br from-freshmarket-primary to-[#3da837c0] hover:scale-105 focus:ring-green-950 focus:ring-offset-indigo-200 transition ease-in text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-full inline-flex items-center justify-center text-gray-50 gap-x-2 hover:opacity-90"
                  data-astro-source-file="C:/laragon/www/landing-fresh-market/src/components/Cta.astro"
                  data-astro-source-loc="20:331">
                  Quiero más información
                  <svg
                     xmlns="http://www.w3.org/2000/svg"
                     width="24"
                     height="24"
                     viewBox="0 0 24 24"
                     fill="none"
                     stroke="currentColor"
                     stroke-width="2"
                     stroke-linecap="round"
                     stroke-linejoin="round"
                     class="icon icon-tabler icons-tabler-outline icon-tabler-map-pin"
                     ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                     ></path><path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"
                     ></path><path
                        d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z"
                     ></path></svg
                  >
               </a>
               <button
                  @click="modalIsOpen = true"
                  class="py-[.7rem] px-6 bg-gradient-to-br from-freshmarket-primary to-[#3da837c0] hover:scale-105 focus:ring-green-950 focus:ring-offset-indigo-200 transition ease-in text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-full inline-flex items-center justify-center text-gray-50 gap-x-2 hover:opacity-90"
                  data-astro-source-file="C:/laragon/www/landing-fresh-market/src/components/Cta.astro"
                  data-astro-source-loc="20:331">
                  Quiero reservar mi unidad
                  <svg
                     xmlns="http://www.w3.org/2000/svg"
                     width="24"
                     height="24"
                     viewBox="0 0 24 24"
                     fill="none"
                     stroke="currentColor"
                     stroke-width="2"
                     stroke-linecap="round"
                     stroke-linejoin="round"
                     class="icon icon-tabler icons-tabler-outline icon-tabler-home-dollar"
                     ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                     ></path><path d="M19 10l-7 -7l-9 9h2v7a2 2 0 0 0 2 2h6"
                     ></path><path
                        d="M9 21v-6a2 2 0 0 1 2 -2h2c.387 0 .748 .11 1.054 .3"
                     ></path><path
                        d="M21 15h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5"
                     ></path><path d="M19 21v1m0 -8v1"></path></svg
                  >
               </button>
            </div>
         </div>
      </div>
      <!-- <div class="lg:flex items-center justify-center">
         <div class="block basis-0 flex-shrink flex-grow p-2 text-center">
            <h2
               class="text-3xl md:text-4xl lg:text-5xl font-bold text-ic-primary mb-6">
               Tu inversión paga el alquiler
            </h2>
         </div>
      </div> -->
   </div>
</section>
