---
// import ubicacionmapa from "../images/ubicacion-mapa.jpg";
---

<section class="py-12 px-6 lg:py-24 lg:px-14 relative">
   <div class="lg:max-w-5xl xl:max-w-7xl mx-auto w-full relative">
      <div class="lg:flex items-center justify-between lg:gap-x-6">
         <div
            class="block basis-0 flex-shrink flex-grow p-2 md:flex-none mx-auto lg:mx-0 text-center lg:text-left mb-5 lg:mb-0">
            <figure class="relative">
               <img
                  class="w-full rounded-md shadow-xl ring-4 ring-ic-secondary ring-opacity-90 max-w-xl xl:h-full mx-auto"
                  src="https://placehold.co/1500x1000"
                  alt="Impulso Capital"
               />
            </figure>
         </div>
         <div
            class="block basis-0 flex-shrink flex-grow p-2 md:flex-none md:w-4/5 mx-auto lg:mx-0 text-center lg:w-1/3 xl:w-5/12 lg:text-left">
            <h2
               class="text-ic-primary text-3xl md:text-4xl lg:text-5xl font-bold mb-6 after:w-10 after:h-1 after:mx-auto lg:after:ml-0 after:mt-4 after:bg-freshmarket-primary after:block after:rounded">
               Tu inversión paga el alquiler
            </h2>
            <p class="text-lg">
               Lorem ipsum dolor sit amet consectetur, adipisicing elit.
               Pariatur cupiditate accusantium numquam, neque labore magni
               doloremque ea eius recusandae dolore facere esse sunt, atque
               dolores officia voluptatum, optio obcaecati nostrum?
            </p>
         </div>
      </div>
      <!-- <div class="lg:flex items-center justify-center">
         <div class="block basis-0 flex-shrink flex-grow p-2 text-center">
            <h2
               class="text-3xl md:text-4xl lg:text-5xl font-bold text-ic-primary mb-6">
               Tu inversión paga el alquiler
            </h2>
         </div>
      </div> -->
   </div>
</section>
