---
import planoStandsH from "../images/plano-stands-horizontal.png";
---

<section class="py-12 px-6 lg:py-24 lg:px-14 relative">
   <div class="lg:max-w-5xl xl:max-w-7xl mx-auto w-full relative">
      <!-- <div class="block basis-0 flex-shrink flex-grow p-2 text-center">
         <h2
            class="text-ic-primary text-3xl md:text-4xl lg:text-4xl xl:text-5xl font-bold mb-8 after:w-10 after:h-1 after:mx-auto after:mt-4 after:bg-freshmarket-primary after:block after:rounded">
            Dónde nos ubicamos
         </h2>
         <p class="text-gray-50 text-lg"></p>
      </div> -->
      <div class="block basis-0 flex-shrink flex-grow p-2 text-center">
         <h2
            class="text-[#ededed] text-balance text-3xl md:text-4xl lg:text-5xl font-bold mb-6 after:w-10 after:h-1 after:mx-auto after:mt-4 after:bg-freshmarket-primary after:block after:rounded">
            ¡Conoce más de tu próxima inversión!
         </h2>
         <figure class="relative py-3">
            <img
               class="w-full rounded-md shadow-xl ring-4 ring-ic-secondary ring-opacity-90 max-w-6xl xl:h-full mx-auto"
               src={planoStandsH.src}
               alt="Impulso Capital"
            />
         </figure>
      </div>
      <div class="lg:flex items-center justify-between gap-4 max-w-6xl mx-auto">
         <div
            class="block basis-0 flex-shrink flex-grow p-2 mx-auto lg:mx-0 text-center lg:text-left mb-5">
            <p class="text-lg text-[#c3c3c3]">
               <span class="text-freshmarket-primary">Fresh Market</span> posee una
               inmejorable distribución, cuenta con una amplia variedad de zonas
               y rubros para tu negocio: Productos de primera necesidad, área financiera,
               zonas tecnológicas, de moda, belleza, boutique y bisutería.
            </p>
            <div
               class="mt-5 flex justify-center lg:justify-normal flex-wrap gap-3">
               <a
                  href="https://s3.us-east-2.amazonaws.com/recorridosvirtuales.ic/RECORRIDO360+FRESH+MARKET/index.htm"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="py-[.7rem] px-6 bg-gradient-to-br from-freshmarket-primary to-[#3da837c0] hover:scale-105 focus:ring-green-950 focus:ring-offset-indigo-200 transition ease-in text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-full inline-flex items-center justify-center text-gray-50 gap-x-2 leading-7 hover:opacity-90"
                  data-astro-source-file="C:/laragon/www/landing-fresh-market/src/components/Cta.astro"
                  data-astro-source-loc="20:331">
                  Visita el recorrido virtual
                  <svg
                     xmlns="http://www.w3.org/2000/svg"
                     width="24"
                     height="24"
                     viewBox="0 0 24 24"
                     fill="none"
                     stroke="currentColor"
                     stroke-width="2"
                     stroke-linecap="round"
                     stroke-linejoin="round"
                     class="icon icon-tabler icons-tabler-outline icon-tabler-view-360-number"
                     ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                     ></path><path
                        d="M14 6a1 1 0 0 0 -1 -1h-2a1 1 0 0 0 -1 1v6a1 1 0 0 0 1 1h2a1 1 0 0 0 1 -1v-2a1 1 0 0 0 -1 -1h-3"
                     ></path><path
                        d="M3 5h2.5a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1 -1.5 1.5h-1.5h1.5a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1 -1.5 1.5h-2.5"
                     ></path><path d="M17 7v4a2 2 0 1 0 4 0v-4a2 2 0 1 0 -4 0z"
                     ></path><path d="M3 16c0 1.657 4.03 3 9 3s9 -1.343 9 -3"
                     ></path></svg
                  >
               </a>
               <a
                  href="#"
                  class="py-[.7rem] px-6 bg-gradient-to-br from-freshmarket-primary to-[#3da837c0] hover:scale-105 focus:ring-green-950 focus:ring-offset-indigo-200 transition ease-in text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-full inline-flex items-center justify-center text-gray-50 gap-x-2 leading-7 hover:opacity-90"
                  data-astro-source-file="C:/laragon/www/landing-fresh-market/src/components/Cta.astro"
                  data-astro-source-loc="20:331">
                  <svg
                     xmlns="http://www.w3.org/2000/svg"
                     width="24"
                     height="24"
                     viewBox="0 0 24 24"
                     fill="none"
                     stroke="currentColor"
                     stroke-width="2"
                     stroke-linecap="round"
                     stroke-linejoin="round"
                     class="icon icon-tabler icons-tabler-outline icon-tabler-home-dollar"
                     ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                     ></path><path d="M19 10l-7 -7l-9 9h2v7a2 2 0 0 0 2 2h6"
                     ></path><path
                        d="M9 21v-6a2 2 0 0 1 2 -2h2c.387 0 .748 .11 1.054 .3"
                     ></path><path
                        d="M21 15h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5"
                     ></path><path d="M19 21v1m0 -8v1"></path></svg
                  >
                  ¡Separa tu unidad ahora!
               </a>
            </div>
         </div>
         <!-- <div class="block basis-0 flex-shrink flex-grow p-2">
            <figure class="relative">
               <img class="w-full rounded-md shadow-xl ring-4 ring-ic-secondary ring-opacity-90 max-w-lg xl:h-full mx-auto" src="" alt="">   
            </figure>
         </div> -->
      </div>
   </div>
</section>
