---
// import type { Preload } from "@/types/Preload";
import favicon from "@/images/favicon.png";

const { title } = Astro.props;

import "@fontsource/metropolis/400.css";
import "@fontsource/metropolis/600.css";
import "@fontsource/metropolis/800.css";

interface Props {
   title: string;
   // description: string;
   // preload?: Array<Preload>;
   // canonical?: string;
   // image?: string;
}
---

<!doctype html>
<html lang="es" class="overflow-x-hidden">
   <head>
      <meta charset="UTF-8" />
      <meta
         name="description"
         content="Gestionamos y capitalizamos un futuro sólido en nuestros inversionistas, clientes y propietarios.
Tu rentabilidad, tu impulso."
      />
      <meta name="viewport" content="width=device-width" />
      <link rel="icon" type="image/png" href={favicon.src} />
      <meta name="generator" content={Astro.generator} />
      <title>{title}</title>
      <script
         defer
         is:inline
         src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3.x.x/dist/cdn.min.js"
      ></script>
   </head>
   <body
      x-data="{ 'modalIsOpen': false }"
      @keydown.escape="modalIsOpen = false"
      class="bg-[#080d19]">
      <wc-toast></wc-toast>
      <slot />
   </body>
</html>

<style is:global>
   html {
      scroll-behavior: smooth;
   }
</style>

<!-- <style is:global>
   html {
      font-family:
         "Metropolis" system-ui,
         sans-serif;
   }
</style> -->
